eng_uzb_binarized_data/
eng_uzb_binarized_data
data/
experiments/
scratch/
bin/
misc/

**/*.out
analysis/
analysoi.sh
eng_deu_bin
eng_fin_bin
*_bin/
*_bin
launch_5k_exps.sh
relaunch_2k_exps.sh
rerun_these_deleteme.txt
log/
